
| FIELDS                          |   STATUS    |
-------------------------------------------------
* For all: add "active" field     |     OK      |
*                                 |             |
- users                           |             |
-- PUT (edit)                     |     OK      |
-- DELETE                         |     OK      |
-- LOGOUT (?)                     |             |
-------------------------------------------------
- items
-- CRUD                                  OK
-- include proper documentation          OK
-- of schema for creation &
-- deletion
-------------------------------------------------
- vendors
-- CRUD                                  OK

- locations
-- CRUD                                  OK

- roles
-- GET                                   OK
-------------------------------------------------
- middlewares
-- authentication
-- authorization (check role)